<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <style>
    body{
      padding:0px;
      margin:0px;
      box-sizing: border-box;
    }
    #app {
      margin:5px;
      max-width: 640px;
    }
    body, td, input, textarea {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
    input, textarea, button, .html-edit {
      padding:2px;
      line-height:20px;
      border: 1px solid #ccc;
      border-radius: 3px 3px;
      width: 100%;
      box-sizing: border-box;
    }
    button{
      width: 100px;
      background-color: #f8f8f8;
    }
    .btn-add{
      color: #080;
    }
    .btn-remove{
      color: #800;
    }
    .field-label{
      margin-top: 5px;
      padding:5px 0px;
    }
    .field-value{
      display:flex;
      margin-bottom: 3px;
    }
    .toolbar{
      background-color: #eee;
      padding: 5px;
      margin-bottom:10px;
    }
    .edit-item{
      border: 2px solid #eee;
      padding: 5px;
      box-shadow: 3px 3px 5px #eee;
    }
    .item-index{
      display:inline-block;
      width:22px;
      height:22px;
      min-width:22px;
      min-height:22px;
      line-height: 20px;
      text-align: center;
      border:1px solid #ddd;
      border-radius: 99% 99%;
      margin-right:5px;
    }

    .gray{
      color:#ccc;
    }
    </style>
</head>
<body>
  <div id="app">
    <div class="toolbar">
      <button onclick="saveData()">Save</button>
      <button id="restore-button" onclick="restoreData()" disabled>Restore Last Save</button>
      <button onclick="clearData()">Clear</button>
      <button @click="loadData()">Load</button>
    </div>
    <editor v-if="content.length" :content="content" :fields="fields" ></editor>
    <pre >{{ content }}</pre>
  </div>

  <script type="text/x-template" id="editor-template">
    <div class="edit-item">
      <div  v-for="(object,idx) in content" :key="idx">
        <div v-for="(field,id) in fields" :key="id">
            <div is="datalabel" :name="id" :config="field" ></div>
            <div :is="field.type+'_edit'" :object="object" :name="id" :config="field" @change="edited($event, object, id)" ></div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="datalabel-template">
    <div class="field-label" ><b>{{ config.label ? config.label : name.substring(0,1).toUpperCase()+name.substring(1) }}</b> [{{ typeDesc(config.type) }}]</div>
  </script>

  <script type="text/x-template" id="string_edit-template">
    <div class="field-value" ><slot name="prefix"></slot><input type="text" v-model="object[name]"><slot></slot></div>
  </script>

  <script type="text/x-template" id="text_edit-template">
    <div class="field-value" ><slot name="prefix"></slot><textarea cols="3" v-model="object[name]" @change="changed($event,object,name)" ></textarea><slot></slot></div>
  </script>

  <script type="text/x-template" id="html_edit-template">
    <div class="field-value" ><slot name="prefix"></slot><div class="html-edit" @blur="changed($event,object,name)" contenteditable v-html="object[name]"></div><slot></slot></div>
  </script>

  <script type="text/x-template" id="number_edit-template">
    <div class="field-value" ><slot name="prefix"></slot><input type="number" v-model="object[name]"  @change="changed($event,object,name)" ><slot></slot></div>
  </script>

  <script type="text/x-template" id="data_array_edit-template">
    <div class="field-values" >
      <div :is="subtype + '_edit'" :key="index" v-for="(value,index) in object[name]" :object="object[name]" :name="index" :config="{}" @contentchanged="changed($event,object[name],index)"  >
          <button class="btn-remove" @click="remove(object[name],index)">Delete</button>
          <div class="item-index" slot="prefix">{{index+1}}</div>
      </div>
      <div :is="subtype + '_edit'" :object="newItem" :name="'value'" :config="{}"  >
          <button class="btn-add" @click="add(object[name])">Add</button>
          <div class="item-index gray" slot="prefix">{{ object[name].length + 1 }}</div>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="html_array_edit-template">
    <div class="field-values" >
      <div is="html_edit" :key="index" v-for="(value,index) in object[name]" :object="object[name]" :name="index" :config="{}" @contentchanged="changed($event,object[name],index)" >
          <button class="btn-remove" @click="remove(object[name],index)">Delete</button>
          <div class="item-index" slot="prefix">{{index+1}}</div>
      </div>
      <div is="html_edit" :object="newItem" :name="'value'" :config="{}"  >
          <button class="btn-add" @click="add(object[name])">Add</button>
          <div class="item-index gray" slot="prefix">{{ object[name].length + 1 }}</div>
      </div>
    </div>
  </script>


  <script>

    var Editor = Vue.component('editor',{
        props: ['content','fields'],
        template: '#editor-template',
        mounted:function(){
          console.log("content",this.content);
        },
        methods: {
          edited: function(content, obj, idx){
            obj[idx] = JSON.parse(JSON.stringify(obj[idx]));
          }
        }
    })

    var DataLabel = Vue.component('datalabel',{
        props: ['name','config'],
        template: '#datalabel-template',
        methods:{
          changed: function(ev,obj,idx){
          },
          typeDesc : function(type){
            return fieldTypes[type]
          }
        }
    })

    var StringEdit = Vue.component('string_edit',{
        props: ['object','name','config'],
        template: '#string_edit-template',
        methods:{
          changed: function(ev,obj,idx){
          }
        }
    })

    var TextEdit = Vue.component('text_edit',{
        props: ['object','name','config'],
        template: '#text_edit-template',
        methods:{
          changed: function(ev,obj,idx){
          }
        }
    })

    var HtmlEdit = Vue.component('html_edit',{
        props: ['object','name','config'],
        template: '#html_edit-template',
        methods:{
          changed: function(ev,obj,idx){
            console.log("Changed",ev.srcElement.innerHTML);
            obj[idx] = ev.srcElement.innerHTML;
            this.$emit("contentchanged",this.object)
          }
        }
    })

    var NumberEdit = Vue.component('number_edit',{
        props: ['object','name','config'],
        template: '#number_edit-template',
        methods:{
          changed: function(ev,obj,idx){
            if (obj[idx]==""){
              obj[idx]=null;
            }else{
              obj[idx] = obj[idx]*1;
            }
          }
        }
    })

    var StringArrayEdit = Vue.component('string_array_edit',{
        props: ['object','name','config'],
        data: function() {
          return {
            newItem: {
              value: ''
            },
            subtype: 'string'
          }
        },
        template: '#data_array_edit-template',
        methods:{
          remove:function(obj,item){
            console.log("removing",item)
            obj.splice(item,1)
          },
          add:function(obj){
            obj.push(this.newItem.value)
            this.newItem.value=''
          },
          changed:function(content,obj,item){
            this.$emit("change",content)
          }
        }
    })

    var NumberArrayEdit = Vue.component('number_array_edit',{
      extends: StringArrayEdit,
      data: function() {
        return {
          newItem: {
            value: ''
          },
          subtype: 'number'
        }
      },
    })

    var TextArrayEdit = Vue.component('text_array_edit',{
      extends: StringArrayEdit,
      data: function() {
        return {
          newItem: {
            value: ''
          },
          subtype: 'text'
        }
      },
    })

    var HtmlArrayEdit = Vue.component('html_array_edit',{
        props: ['object','name','config'],
        data: function() {
          return {
            newItem: {
              value: ''
            },
          }
        },
        template: '#html_array_edit-template',
        methods:{
          remove:function(obj,item){
            obj.splice(item,1)
          },
          add:function(obj){
            obj.push(this.newItem.value)
            this.newItem.value=''
          },
          changed:function(content,obj,item){
            this.$emit("change",content)
          }
        }
    })

    var fieldTypes = {
      "string" : "Small text",
      "text" : "Text",
      "number" : "Number",
      "html" : "HTML formatted",
      "string_array" : "String list",
      "text_array" : "Text list",
      "html_array" : "HTML list",
      "number_array" : "Number list",
    }

    var localData = {
      content : {
      },
      fields : {
      }
    }

    var lastSave = localData;

    function saveData(){
      if (localStorage.getItem('localdata')){
        lastSave = JSON.parse(localStorage.getItem('localdata'));
        document.getElementById('restore-button').disabled=false;
      }
      localStorage.setItem('localdata',JSON.stringify(localData));
    }

    function clearData(){
      localStorage.removeItem('localdata');
      document.location.reload();
    }

    function restoreData(){
      localStorage.setItem('localdata',JSON.stringify(lastSave));
      document.location.reload();
    }

    function loadData(obj){
      var oReq = new XMLHttpRequest();
      oReq.addEventListener("load", function(){
        var data = JSON.parse(this.responseText)
        var fields = getFields(data[0]);
        obj.content = data;
        obj.fields = fields;
      });
      oReq.open("GET", "data.json");
      oReq.send();
    }

    function getType(content){
      var fldtype = typeof(content);
      var type = "string"
      if (fldtype=="number"){
        type = "number"
      }
      if (fldtype=="string" && (content.length>64 || content.indexOf('\n')>-1)){
        type = "text"
      }
      if (fldtype=="string" && content.indexOf('<')>-1 && content.indexOf('>')>-1){
        type = "html"
      }
      if (fldtype=="object" && typeof(content.length!="undefined")){
        type = "string_array"
        if (content.length){
          type = getType(content[0]) + "_array"
        }
      }
      return type
    }

    function getFields(data){
      console.log(data);
      var fields = {}
      for (var field in data){
        console.log(field);
        var fld={}
        fld.label = field.substring(0,1).toUpperCase() + field.substring(1);
        fld.type = getType(data[field]);
        fields[field]=fld
      }
      return fields
    }


    var app = new Vue({
      el: '#app',
      data: localData,
      created: function(){
        var tmpData = localStorage.getItem("localdata");
        if (tmpData && tmpData!=""){
          var data = JSON.parse(tmpData);
          this.content = data.content;
          this.fields = data.fields;
        }else{
          loadData(this);
        }
      },
      methods: {
        loadData:function(){
          loadData(this);
        }
      }
    })
  </script>
</body>
</html>